
.carrousel {
    overflow: hidden;
    cursor: grab;
    width: 100%;
    position: relative;
    z-index: 1;
    height: fit-content;
    
    &.is-dragging {
      cursor: grabbing;
    }
    
    &--wrapper {
      z-index: 1;
      height: 260px;
    }
    
    &--item {
      position: absolute;
      z-index: 1;
      overflow: hidden;
      width: 290px;
      padding-left: 30px;
      
      
      
      figure {
        z-index: 1;
        display: block;
        user-select: none;
        padding: 0;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        overflow: hidden;
        pointer-events: none;
        transform-origin: center;
        
        img {
          z-index: 1;
          width: 130px;
          height: 150px;
          border-radius:12px 0px 0px 12px;
          overflow: hidden;

          object-fit: cover;
          vertical-align: middle;
          transform-origin: center;
        }
      
        &:before {
          position: absolute;
          z-index: 2;
          bottom: 10px;
          left: 10px;
          display: inline-block;
          color: #ffffff;
          font-size: 24px;
        }
      }
    }
  }
  
