html{
    width: 100%;
}


body {

    color: #504136;
    scroll-behavior: smooth;
    background-image: url(http://localhost/test-wordpress/wp-content/themes/Hubbert/assets/img/fond_hubbert.png);
    

}

.couleurnav {

     background-color: #ECE4B7;

}

.container-fluid {

     display:flex; 

}

.navbar {
     justify-content: space-between;
     height: 86px;
     box-shadow: 0px 0px 20px black;
     width: 100%;
    
}



.card.profil{
    display: flex;
    flex-flow: column wrap;
    background-color: transparent;
    width: 310px;
    display: flex;
    align-content: flex-end;
}

.card-title{
    font-size:20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.garden { 

    background-color: #000;
    background-image: url(http://localhost/test-wordpress/wp-content/themes/Hubbert/assets/img/Gardener.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;

}




.messagerie {
    right: 50px;
    position: fixed;
    bottom: 50px;
    width: 50px;
    height: 50px;
    padding: 10px;

}

.texte-central {

     position: absolute;
     left: 168px;
     top: 35%;

}

@media screen and (max-width: 800px) {

    .texte-central {

        position: absolute;
        left: 50px;
        top: 35%;
        
   
   }
   

}




.texte-central h1 {

    width: 399px;
    height: 96px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;

}
@media screen and (max-width: 800px) {

    .texte-central h1 {

        width: 258px;
        height: fit-content;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    
    }
   

}

.texte-profil h1 {

    width: 500px;
    height: 96px;

}


.texte-central p {

/* texte de l'acceil */
    color: #504136;
    width: 356.85px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {

    .texte-central p {

        /* texte de l'acceil */
        
            width: 258px;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            margin-bottom: 30px;
        }
   

}


header .nav-item a, main .nav-item a{

/* Auto layout --> template pour tout les boutons CTA */

display: flex;
justify-content: center;
align-items: center;
font-family: 'Poppins';
font-weight: bold;
font-style: normal;
height: 40px;
font-size: 16px;
color: #504136;
}

input[type="submit"], .vert{

border: 3px solid #AACF23;
border-radius: 8px;
display: flex;
}

.blanc{
    background-color: rgba(255, 255, 255, 0.15);
}

.vert-plein {

    /* vert cta */
    
    border: 3px solid #AACF23;
    background-color: #AACF23;
    border-radius: 8px;
    opacity: 100%;
    width: 50px;
    
    }

.vert-plein:hover {
    background-color:#95B61E;
    border: 3px solid #95B61E;
    color: #504136;
    transition: 0.4s;
    }

.vert:hover , input[type="submit"]:hover {

background-color:#AACF23;
border: 3px solid #AACF23;
color: #504136;
transition: 0.4s;

}

.orange {

 /* orange cta */

    border: 3px solid #F17444;
    border-radius: 8px;
    width: fit-content;

}

.orange:hover {

    background-color:#F17444;
    border: 3px solid #F17444;
    color: #504136;
    transition: 0.4s;
    
}


header {

    position: fixed;
    width: 100%;
    z-index: 2;
    height: 86px;

}

.services {

display:flex;
align-items: center;
flex-direction: column;
justify-content: center;
margin-bottom: 130px;
margin-top: 77px;


}
.outils {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
    
    }

h2{
width: 637px;
height: 128px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 64px;
text-align: center;
margin-bottom: 25px;
}

@media screen and (max-width: 600px) {

    h2{
        width: 380px;
        height: 128px;
        
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 35px;
        text-align: center;
        margin-bottom: -43px;
        }

} 


@media screen and (max-width: 1000px) and (min-width: 600px) {

    h2{
        width: 500px;
        height: 128px;
        margin-bottom: 5px;
        
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        }

} 


.outils p{
width: 946px;
height: 81px;

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 300;
font-size: 27px;
line-height: 27px;
text-align: center;
}

@media screen and (max-width: 600px) {

    .outils p{
    width: 475px;
    height: 81px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    }
    

}

@media screen and (max-width: 1000px) and (min-width: 600px){

    .outils p{
    width: 550px;
    height: 81px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    }
    

}



.outils {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 73px;
}
.no-scroll{
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}


.carrousel p {
    font-size:14px;
    line-height: 14px;
    margin-bottom:10px;
    text-align:start;
}
.carrousel h5{
    font-size:16px;
}
.carrousel .card-text{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
}
div.card-body{
    width: 160px;
    height:132px;
}
/*pipi*/
.carrousel > .tools {
    flex-shrink: 0;
   text-align: center;
   margin-left: 25px;
   width: 254px;
    height: 252px;
    border: 2px solid #504136;
    border-radius: 15px;
}

.tools p {
    font-size: 16px;
    width: 254px;
}

.bouton-page{
    display: flex;
    flex-direction: column;
    height: 120px;
    width: fit-content;
    align-items: center;
    justify-self: center;
    margin-top: 25px;
}

.logo-footer{
    width: 300px;
}

@media screen and (max-width: 1100px) {

    .logo-footer{
        width: 300px;
        display: none;
    }
    

}

.footer{
    bottom:0px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:30px 50px 30px 50px;
    background-color: #504136;
    color:#ECE4B7;
    height: fit-content;
}

@media screen and (max-width: 1100px){

    .footer{
        bottom:0px;
        justify-content: space-between;
        align-items: center;
        padding:30px 50px 30px 113px;
        background-color: #504136;
        color:#ECE4B7;
        height: fit-content;
        flex-direction: column;

    }

}


.footer div{
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
}

/* Pourquoi hubbertbook/tok/gram n'est pas centré ? */
@media screen and (max-width: 1100px){

    .footer div{
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0px;
        padding-bottom: 15px;
        
}
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.footer p, .footer a {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
width:360px;
}

.footer h5{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
border-bottom:  1px solid black;
margin: 30px 0px 25px 0px;
}

.text-justify{
    text-align:justify;
}
.footer a {
    margin-bottom: 8px;
}
.text-center{
    text-align: center;

}.border-bot{
    border-bottom: 1px solid #000;
    padding-bottom: 120px;
}

.rond {
    border-radius: 30px;
    width: 45px;
}


.profil .menu-image{
    margin-top:-20px;
    height: 1000px;
    padding:7px;
    margin-left:-5px;
}

button{
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}
 
.boutonplus{
    width: fit-content;
    padding: 0px 5px;
    color:#504136;
    font-weight: 700;
    line-height: 25px;
  }

/* c'est pour le FAQ */

.faq {

width: 817px;       
justify-content: center;
min-height: 600px;
}



a{
    text-decoration: none;
}



.question p {

font-family: 'Josefin Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;

color: #000000;


}

.question h5 {

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;

}

/* c'est pour la mentionlegale */

.legal {

padding-top: 100px;
width: 817px;       
justify-content: center;
min-height: 600px;

}

.container{
    padding-top: 100px;
    height: fit-content;
    width: 100%;
    margin-bottom: 175px;
}


p, label {

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
}

.footer p{
     color: #ECE4B7;
}

#menu-home li{
    display: flex;
    align-content: center;
    width: fit-content;
    height: fit-content;
}
#menu-home {
    width: fit-content;
    height: fit-content;
}
#menu-home a{
    color:transparent;
    background-image:url(http://localhost/test-wordpress/wp-content/themes/Hubbert/assets/img/hubbert_noir.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:180px;
    margin: 0px auto;
}

#menu-navbar li:last-child a{
    color:transparent;
    position :absolute;
    width:45px;
    margin:0px;
}
#menu-navbar li:last-child{
    background-image:url(http://localhost/test-wordpress/wp-content/themes/Hubbert/assets/img/picto_profil_inact.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    justify-self: flex-end;
    background-position: center;
}

.navdroite{
    justify-self: flex-end;
    width: fit-content;
}

#menu-navbar li:last-child:hover{

    background-image:url(http://localhost/test-wordpress/wp-content/themes/Hubbert/assets/img/picto_profil_actif.svg);

}
#menu-navbar li{
    margin:10px;
    min-width: 45px;
}
#menu-navbar a{
    width: fit-content;
}


.top-part{
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-between;
    width: 100%;
}


.info-profil{
    width:500px;   
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: fit-content;
    
}

.infotext {

    width: 220px;
    height: 36px;
    font-family: 'Josefin Sans';
    font-style: normal;
    
    
}


.descri {
    font-family: 'Josefin Sans';
    font-style: normal;
    margin-top: 30px;
    overflow: scroll;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: justify;
}

    
* {
  box-sizing: border-box;
}

.commentaires{
    margin-top:50px;
}

.comment{
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 500px;
}
h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32;
}

.versprofil img {
    width: 47px;
    height: 47px;
    border-radius: 25px;
}
.versprofil {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    min-width: 180px;
    height: 55px;
    width: fit-content;
}
.versprofil h5{
    font-size:24;
    font-family:'Josefin Sans';
    margin-left: 16px;
    margin-top: 12px;
    min-width: 50px;
}
.comment p {
    margin-top: 16px;
}


input[type="textarea"], input[type="password"], textarea, input[type="submit"]{
box-sizing: border-box;

resize : none;
font-size: 20px;
line-height: 20px;


border: 2px solid #504136;
border-radius: 10px;
background-color: transparent;
padding:15px;

display: flex;
align-content: center;
color:#504136;
}
.info-profil textarea {
    line-height: 15px;
    padding-bottom: 0px;
}
.avatar{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.nav-container {

    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 50px;

}

.boutmid li{
    margin:10px;
    width: 100%;
    display:block;

}

.boutmid a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-style: normal;
    height: 40px;
    font-size: 16px;
    color: #504136;
}

ul{
    width: fit-content;
    padding-left: 0px;
}

.pdp {

    border-radius: 12px;

}

.infotext h5 {

margin: 20px 0px;
font-size: 20px;

}

.infotext h5:first-child {

    font-size: 24px;
}


.recherchannonce{
    display: flex;
    flex-direction: row;
    
}

.carousel--wrapper {

    margin-top: 50px;

}

.carrousel--wrapper {

    margin-top: 50px;

}


.infoannonce{
    display: flex;
    flex-direction: row;
}

.infodroite{
    margin-left:22px;
    text-align: justify;
}
.description{
    margin:15px 0px;
    overflow: scroll;
    height: 190px;

}

.rectangle-connect {

border: 3px solid beige;
border-radius: 8px;
width: 459px;
height: 44px;
background-color: whitesmoke;
margin-left: 175px;
margin-top: 63px;
}

.container-connexion {

    padding-top: 130px;
    height: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}


.texte-connect h1{

    width: 361px;
    height: 32px;
    font-weight: 700;
    font-size: 32px;

}


.carrousel .annonce .cardbody{
    width: 90%;
    height: 33px;
    display: flex;
    justify-self: flex-end;
    margin: 10px 15px; 
    justify-content: space-between;
}


.card{
    background-color: transparent;
}

/*recherche annonce*/
.card-text{
    font-family: 'Josefin Sans';
    font-style: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: justify;
}

.recherche .card {
    margin:15px;
    border-radius: 15px;
}
.recherche img{
    border-radius:15px 0px 0px 15px;
}
.recherche .card-body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:330px;
}

.bot-card-body{
    justify-self: flex-end;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


/*Filtre recherche*/

.filtre-check-box{
    display: flex;
    flex-direction: column;
}

/* le double slider*/

.range_container {
    display: flex;
    flex-direction: column;
  }
  
  .sliders_control {
    position: relative;
  }
  
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #8E8E8E;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb:hover{
    background-color: #AACF23;
  }
  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;  

  }
  

  
input[type="range"] {
    -webkit-appearance: none; 
    height: 3px;
    width: 170px;
    background-color: #504136;
    border:none;
    pointer-events: none;
  }
  .range_container input[type="range"]{position:absolute}

  .range_container input[type="range"]:nth-child(2){
    background-color: transparent;
  }
  /**/

  .filtres > * {
    margin:15px 0px;
    width:170px;
  }

  label {
    margin:10px 0px;
  }
/*checkbox*/

/* configannonce*/

.configannonc h5{
    display: flex;
    align-items: center;
}

.configannonc .modif{
    margin-left:15px;
}

.configannonc .imgillu{
    border-radius: 15px;
    margin-bottom:30px;
}

.bouton {

    padding: 5px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #504136;
    text-align: center;
    margin-top: 30px;

}

.connect p {

margin-top: 15px;
margin-bottom: 0em;
}

.connect label{
    display: flex;
    margin: 30px 0px;
    align-items: flex-start;
    flex-direction: column;
}

input[type="file"]::-webkit-file-upload-button, .imgupload {
    padding: 5px 10px;
    background-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #504136;
    text-align: center;
    margin-top: 30px;
    border: 3px solid #AACF23;
    border-radius: 8px;
    content: "Sélectionner un fichier";
  }
 


  input[type="file"]::-webkit-file-upload-button:hover {
    background-color:#AACF23;
    border: 3px solid #AACF23;
    color: #504136;
    transition: 0.4s;
  }
  

  #commentform{
    display: flex;
    width: 500px;
    justify-content: space-between;
  }

.logo-footer2 {

    width: 300px;
    display: block;
}

@media screen and (min-width: 1101px) {

    .logo-footer2{
        width: 300px;
        display: none;
    }

}

.filtre-picto {

    width: 40px;
    height: 38px;

}

@media screen and (min-width: 1100px) {

    .filtre-picto {

        width: 40px;
        height: 38px;
        display: none;
       }

}
<<<<<<< HEAD

=======
.messagerieon{
    width:750px;
     height:100%;
     background-color: #F2EACD ; 
     position:fixed; 
     z-index: -1; 
     overflow:scroll;
}
>>>>>>> b6b117d583ca98afed923c0bc09fcd0fae78ec97
