  
  .carroussel {
    cursor: grab;
    width: 100%;
    position: relative;
    z-index: 1;
    height: 40vh;
    
    &.is-dragging {
      cursor: grabbing;
    }
    
    &--wrapper {
      counter-reset: count;
      display: flex;
      position: absolute;
      z-index: 1;
    }
    
    &--item {
      counter-increment: count;
      z-index: 1;
      
      @media (max-width: 767px) {
        height: 40vw;
      }
      
      &:nth-child(n+10):before {
        content: counter(count);
      }
      
      figure {
        cursor: pointer;
        width: 100%;
        pointer-events: none;
        transform-origin: center;
        
        img {
          z-index: 1;
          top: 0;
          left: 0;
          object-fit:contain;
          vertical-align: middle;
          transform-origin: center;
        }
      
        &:before {
          position: absolute;
          z-index: 2;
          display: inline-block;
          content: "0" counter(count);
          font-size: 3vw;
        }
      }
    }
  }
  
  .version {
    position: fixed;
    text-align: center;
    z-index: 1;
    bottom: auto;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    border-radius: 0;
    padding: 8px 30px;
    font-size: 11px;
    
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0%;
      background: transparent;
    }
    
    @media (max-width: 767px) {
      transform: scale(.6) rotate(45deg) ;
    }
  }
  